html, body{
    padding: 0;
    height: 100%;
}

body {
    background-image: url('imagens/fundo.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 100vh;           /* Altura total da viewport */
    background-color: #282c34;
}

.botao2 {
    color: black;
}

.botao1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 16px 32px;
    font-size: 1.25rem;
    border: none;
    border-radius: 18px;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;

}
